USE [master]
GO
/****** Object:  Database [BrainBoxDb]    Script Date: 06/12/2025 10:56:41 ******/
CREATE DATABASE [BrainBoxDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BrainBoxDb', FILENAME = N'E:\MicrosoftServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\BrainBoxDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BrainBoxDb_log', FILENAME = N'E:\MicrosoftServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\BrainBoxDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BrainBoxDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BrainBoxDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/12/2025 10:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ideas]    Script Date: 06/12/2025 10:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ideas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastModifiedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Ideas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdeaThemes]    Script Date: 06/12/2025 10:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdeaThemes](
	[IdeaId] [int] NOT NULL,
	[ThemeId] [int] NOT NULL,
 CONSTRAINT [PK_IdeaThemes] PRIMARY KEY CLUSTERED 
(
	[IdeaId] ASC,
	[ThemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 06/12/2025 10:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Themes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251204094447_InitialCreate', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Ideas] ON 

SET IDENTITY_INSERT [dbo].[Ideas] OFF
GO
INSERT [dbo].[IdeaThemes] ([IdeaId], [ThemeId]) VALUES (1, 1)
INSERT [dbo].[IdeaThemes] ([IdeaId], [ThemeId]) VALUES (3, 1)
INSERT [dbo].[IdeaThemes] ([IdeaId], [ThemeId]) VALUES (6, 1)
GO
SET IDENTITY_INSERT [dbo].[Themes] ON 

INSERT [dbo].[Themes] ([Id], [Name]) VALUES (1, N'Tecnologia')
INSERT [dbo].[Themes] ([Id], [Name]) VALUES (2, N'Business')
INSERT [dbo].[Themes] ([Id], [Name]) VALUES (3, N'Sostenibilità')
SET IDENTITY_INSERT [dbo].[Themes] OFF
GO
/****** Object:  Index [IX_Ideas_CreatedAt]    Script Date: 06/12/2025 10:56:41 ******/
CREATE NONCLUSTERED INDEX [IX_Ideas_CreatedAt] ON [dbo].[Ideas]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ideas_LastModifiedAt]    Script Date: 06/12/2025 10:56:41 ******/
CREATE NONCLUSTERED INDEX [IX_Ideas_LastModifiedAt] ON [dbo].[Ideas]
(
	[LastModifiedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdeaThemes_ThemeId]    Script Date: 06/12/2025 10:56:41 ******/
CREATE NONCLUSTERED INDEX [IX_IdeaThemes_ThemeId] ON [dbo].[IdeaThemes]
(
	[ThemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IdeaThemes]  WITH NOCHECK ADD  CONSTRAINT [FK_IdeaThemes_Ideas_IdeaId] FOREIGN KEY([IdeaId])
REFERENCES [dbo].[Ideas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdeaThemes] CHECK CONSTRAINT [FK_IdeaThemes_Ideas_IdeaId]
GO
ALTER TABLE [dbo].[IdeaThemes]  WITH NOCHECK ADD  CONSTRAINT [FK_IdeaThemes_Themes_ThemeId] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Themes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdeaThemes] CHECK CONSTRAINT [FK_IdeaThemes_Themes_ThemeId]
GO
USE [master]
GO
